<!DOCTYPE html>
<html>

<head>
  <%include partials/head.ejs%>
</head>

<body>
  <div class="fixed-side-navbar">
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link" href="#home"><span>Inicio</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#services"><span>Menu</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#vuelos"><span>Vuelos</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#portfolio"><span>Aviones</span></a></li>
      <!--<li class="nav-item"><a class="nav-link" href="#companias"><span>Aviones</span></a></li>-->
      <li class="nav-item"><a class="nav-link" href="#novedades"><span>Novedades</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#our-story"><span>Arribos-Partidas</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#contact-us"><span>Servicios</span></a></li>
    </ul>
  </div>

  <div class="parallax-content baner-content" id="home">
    <div class="container">
      <div class="first-content">
        <h1><img src="img/3127369-travel/png/018-airplane.png" width="90" height="90" alt="">DAW <em>Airlines</em></h1>
        <span>Bienvenid@</span>
        <div class="primary-button">
          <a href="#services">Ver Menu</a>
        </div>
      </div>
    </div>-}
  </div>


  <div class="service-content" id="services">
    <div class="container">
      <div class="row">
        <!--<div class="col-md-4">
                    <div class="left-text">
                        <h4>More About Vanilla</h4>
                        <div class="line-dec"></div>
                        <p>Vanilla is free HTML CSS template with Bootstrap v4.2.1 and you can apply this theme for your sites.
                        Please share our <a rel="nofollow" href="https://templatemo.com">website</a> to your friends or collegues. Thank you.</p>
                        <ul>
                            <li>-  Praesent porta urna id eros</li>
                            <li>-  Curabitur consectetur malesuada</li>
                            <li>-  Nam pretium imperdiet enim</li>
                            <li>-  Sed viverra arcu non nisi efficitur</li>
                        </ul>
                        <div class="primary-button">
                            <a href="#portfolio">Learn More About Us</a>
                        </div>
                    </div>
                </div>-->
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <div class="service-item">
                <img src="img/3127369-travel/png/005-plane ticket.png" width="80" height="80" alt="">
                <h4 style="color:#fff;">Buscar Vuelos</h4>
                <div class="line-dec"></div>
                <p>Aca podes buscar vuelos.</p>
                <div class="primary-button">
                  <a href="#vuelos">Buscar Vuelos</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="service-item">
                <img src="img/3127369-travel/png/018-airplane.png" width="80" height="80" alt="">
                <h4 style="color:#fff;">Buscar Aviones</h4>
                <div class="line-dec"></div>
                <p>Aca podes buscar info de Aviones.</p>
                <div class="primary-button">
                  <a href="#portfolio">Buscar Aviones</a>
                </div>
              </div>
            </div>
            
           <!-- <div class="col-md-4">
              <div class="service-item">
                <img src="img\3127369-travel\png\047-selfie.png" width="80" height="80" alt="">
                <h4 style="color:#fff;">Buscar Aviones</h4>
                <div class="line-dec"></div>
                <p>Aca podes buscar info de Aviones</p>
                <div class="primary-button">
                  <a href="#companias">Buscar Aviones</a>
                </div>
              </div>
            </div>-->
           <div class="col-md-4">
              <div class="service-item">
                <img src="img\3127369-travel\png\047-selfie.png" width="80" height="80" alt="">
                <h4 style="color:#fff;">Arribos - Partidas</h4>
                <div class="line-dec"></div>
                <p>Arribos y Partidas del Aeropuerto.</p>
                <div class="primary-button">
                  <a href="#our-story">Ver</a>
                </div>
              </div>
            </div>
           <!----> <div class="col-md-4">
              <div class="service-item">
                <img src="img/3127369-travel/png/020-baggage.png" width="80" height="80" alt="">
                <h4 style="color:#fff;">Servicios</h4>
                <div class="line-dec"></div>
                <p>Servicios brindados por el Aeropuerto.</p>
                <!--Button trigger modal-->
              <div class="primary-button">
                  <a href="#contact-us">Ver Servicios</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="service-item">
                <img src="img/3127369-travel/png/003-diary.png" width="80" height="80" alt="">
                <h4 style="color:#fff;">Novedades</h4>
                <div class="line-dec"></div>
                <p>Novedades del Aeropuerto.</p>
                <div class="primary-button">
                  <a href="#novedades">Ver Novedades</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-content tabs-content-vuelo" id="vuelos">
    <div class="container" style="width:100%; opacity:0.8;">
      <div class="row">
        <div class="col-md-6" style="background-color:#fff;width:50%;border:1px;padding:8px;margin:auto;">
          <div class="wrapper "><br>
            <img src="img/3127369-travel/png/005-plane ticket.png" width="80" height="80" alt="">
            <h1>Buscador de Vuelos</h1>
            <div class="linea"></div>
            <%include partials/formBusVuelos.ejs%>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-content projects-content" id="portfolio">
    <div class="container" style="width:100%; opacity:0.8;">
      <div class="row">
        <div class="col-md-6" style="background-color:#fff;;width:50%;border:1px;padding:8px;margin:auto;">
          <div class="wrapper "><br>
            <img src="img/3127369-travel/png/018-airplane.png" width="80" height="80" alt="">
            <h1>Buscador de Aviones</h1>
            <h4 style="color:#fff;">Buscar Aviones</h4>
            <div class="linea"></div>
            <%include partials/formMultimedia.ejs%>
          </div>
        </div>
      </div>
    </div>
  </div>

 <!-- <div class="parallax-content-compa침ias baner-content-compa침ias" id="companias">
    <div class="container" style="width:100%; opacity:0.95;">
      <div class="row">
        <div class="col-md-6" style="background-color:#fff;;width:50%;border:1px;padding:8px;margin:auto;">
          <div class="wrapper "><br>
            <img src="img\3127369-travel\png\047-selfie.png" width="80" height="80" alt="">
            <h1>Buscador de Aviones</h1>
            <h4 style="color:#fff;">Buscar Aviones</h4>
            <div class="linea"></div>
            <%include partials/formCompanias.ejs%>
          </div>
        </div>
      </div>
    </div>
  </div>-->

  <div class="service-content-novedades" id="novedades">
    <div class="container" style="width:100%; opacity:0.9;">
      <div class="row">
        <div class="col-md-12" style="background-color:#fff;">
          <div class="wrapper">
            <%include partials/tablaNoticias0.ejs%>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tabs-content" id="our-story">
    <div class="container" style="width:100%; opacity:0.8;">
      <div class="row">
        <div class="col-md-12" style="background-color:#fff;">
          <div class="wrapper col-md-12">
            <%include partials/tablaArribosPartidas.ejs%>
          </div>
        </div>
      </div>
    </div>
  </div>



  <footer>
    <div class="container" id="contact-us">
      <div class="row">
        <div class="col-md-12">
          <img src="img/3127369-travel/png/009-airport.png" width="150" height="150" alt="">
          <p style="font-size:60px;"><em>Aeropuerto</em> de Cordoba </p>
          <p style="font-size:18px;"><em>Direcci칩n:</em> Calle x - Ciudad de Cordoba</p>
          <p style="font-size:18px;"><em>Telefono:</em> 0289-33255252</p>
          <p style="font-size:18px;"><em>@mail:</em> aeropuerto@cordoba.com</p>
          <p style="font-size:18px;"><a href="#" data-toggle="modal" data-target="#modalEmpresas"><em>Compa침ias Aereas</em></a></p>
          <p style="font-size:18px;"><a href="#" data-toggle="modal" data-target="#modalSectores"><em>Sectores</em></a></p><br>
          <div class="primary-button">
            <a href="#services">Volver al Menu</a>
          </div>
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-google"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          </ul>
          <p>Copyright &copy; 2021 Juan de la Fuente

            - Design: <a rel="nofollow noopener" href="https://templatemo.com"><em>TemplateMo</em></a></p>
        </div>
      </div>
    </div>
  </footer>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
  </script>
  <script src="js/vendor/bootstrap.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script>
    function openCity(cityName) {
      var i;
      var x = document.getElementsByClassName("city");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      document.getElementById(cityName).style.display = "block";
    }
  </script>

  <script>
    $(document).ready(function() {
      // Add smooth scrolling to all links
      $(".fixed-side-navbar a, .primary-button a").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function() {

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    });
  </script>

</body>

</html>

<%include partials/modalVuelos0.ejs%>
<%include partials/modalVuelos.ejs %>
<%include partials/modalCompanias.ejs%>
<%include partials/modalTripulantesVuelo.ejs%>
<%include partials/modalTripulantes.ejs%>
<%include partials/modalPasajerosVuelo.ejs%>
<%include partials/modalPasajeros.ejs%>
<%include partials/modalEmpresas.ejs%>
<%include partials/modalSectores.ejs%>
<%include partials/modalMultimedia.ejs%>
<%include partials/modalAvionVuelo.ejs%>
<%include partials/modalAvion.ejs%>
<div hidden>
<%include partials/formVuelos.ejs%>
<%include partials/formAvion.ejs%>
<%include partials/formAvion0.ejs%>
<%include partials/formTripulantes.ejs%>
<%include partials/formTripulantesVuelo.ejs%>
<%include partials/formPasajeros.ejs%>
<%include partials/formPasajerosVuelo.ejs%>
</div>
