<form id="formAvion0">
  <div class="form-group">
    <label for="matriculaAvion0">Matricula</label>
    <input type="text" class="form-control" id="matriculaAvion0" name="matriculaAvion0" aria-describedby="emailHelp" placeholder="Ingresa el numero de vuelo">
    <small id="emailHelp" class="form-text text-muted">Ingresa el numero de vuelo si es que lo sabes.</small>
  </div>
  <div class="modal-footer">
    <div class="primary-button">
      <a id="avioncito" href="#" data-toggle="modal" data-target="#modalAvion">Buscar Vuelos</a>
    </div>
    <div class="primary-button">
      <a href="#services">Volver al Menu</a>
    </div>
  </div>
</form>
