<form id="formTripulantes">
  <div class="form-group">
    <label for="matriculaAvion">Matricula</label>
    <input type="text" class="form-control" id="dniTripulante" name="dniTripulante" aria-describedby="emailHelp" placeholder="Ingresa el numero de vuelo">
    <small id="emailHelp" class="form-text text-muted">Ingresa el numero de vuelo si es que lo sabes.</small>
  </div>
  <div class="modal-footer">
    <div class="primary-button">
      <a id="tripulancio" href="#" data-toggle="modal" data-target="#modalTripulantesVuelo">Buscar Tripulantess</a>
    </div>

    <div class="primary-button">
      <a href="#services">Volver al Menu</a>
    </div>
  </div>
</form>