<form id="formPasajerosVuelo">
    <div class="form-group">
      <label for="matriculaAvion">Matricula</label>
      <input type="text" class="form-control" id="dniPasajero" name="dniPasajero" aria-describedby="emailHelp" placeholder="Ingresa el numero de vuelo">
      <small id="emailHelp" class="form-text text-muted">Ingresa el numero de vuelo si es que lo sabes.</small>
    </div>
    <div class="modal-footer">
      <div class="primary-button">
        <a id="pasajerito" href="#" data-toggle="modal" data-target="#modalPasajeros">Buscar Pasajeros</a>
      </div>
    </div>
    <div class="primary-button">
      <div class="primary-button">
        <a href="#services">Volver al Menu</a>
      </div>
    </div>
  </form>