<form id="formMultimedia">
 <!--<div class="form-group">
    <label for="fecha">Fecha</label>
    <input type="date" class="form-control" id="fecha" name="fecha" aria-describedby="emailHelp" placeholder="Ingresa una fecha">
    <small id="emailHelp" class="form-text text-muted">Ingresa una fecha.</small>
  </div>
  <div hidden class="form-group">
    <label for="fechaText">Compania</label>
    <input type="text" class="form-control" id="fechaText" name="fechaText" placeholder="Ingrese la Ciudad">
  </div>-->
  <div class="form-group">
    <label for="empresa">Fabricante</label>
    <select class="form-control" id="empresa" name="empresa">
      <option disabled selected="selected">Selecciona un Fabricante</option>
      <option>Airbus</option>
      <option>Boeing</option>
      <option>Embraer</option>
    </select>
  </div>
  <div hidden class="form-group">
    <label for="empresaText">Fabricante</label>
    <input type="text" class="form-control" id="empresaText" name="empresaText" placeholder="Ingrese la Ciudad">
  </div>
  <div class="form-group">
    <label for="avion">Avion</label>
    <input type="text" class="form-control" id="avion" name="avion" placeholder="Ingrese una Matricula">
  </div>
  <div class="modal-footer">
    <div class="primary-button">
      <a id="botonBuscarMultimedia" href="#" data-toggle="modal" data-target="#modalMultimedia">Buscar Avion</a>
    </div>
    <div class="primary-button">
      <a href="#services">Volver al Menu</a>
    </div>
  </div>
</form>
