<!-- Modal tabla de vuelos -->
<div class="modal fade" id="modalTripulantes" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLongTitle">Detalle Tripulacion</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table id="tablaTripulantes" class="table table-striped ui celled" style="width:100%;">
            <thead>
              <h4>Tripulación</h4>
              <tr>
                <th>D.N.I.</th>
                <th>Nombres</th>
                <th>Apellido</th>
                <th>Sector</th>
                <th>Cargo</th>
                <th>Base</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>26719311</td>
                <td>Lionel</td>
                <td>Scaloneta</td>
                <td>Aeropuerto</td>
                <td>Piloto</td>
                <td>Comodoro Rivadavia</td>
              </tr>
              <tr>
                <td>28369159</td>
                <td>Pablo</td>
                <td>Aimor</td>
                <td>Aeropuerto</td>
                <td>Copiloto</td>
                <td>Cordoba</td>
              </tr>
              <tr>
                <td>24856397</td>
                <td>Roberto</td>
                <td>Ayali</td>
                <td>Aeropuerto</td>
                <td>Comisario de bordo</td>
                <td>Buenos Aires</td>
              </tr>
              <tr>
                <td>36987156</td>
                <td>Luis</td>
                <td>Samuel</td>
                <td>Aeropuerto</td>
                <td>Auxiliar de bordo</td>
                <td>Mendoza</td>
              </tr>
              <tr>
                <td>38950456</td>
                <td>Walter</td>
                <td>Manna</td>
                <td>Aeropuerto</td>
                <td>Auxiliar de bordo</td>
                <td>Cordoba</td>
              </tr>
              <tr>
                <td>39150789</td>
                <td>Camila</td>
                <td>Barrios</td>
                <td>Aeropuerto</td>
                <td>Auxiliar de bordo</td>
                <td>Cordoba</td>
              </tr>
            </tbody>
            <tfoot>
                <th><strong>D.N.I.</strong></th>
                <th><strong>Nombres</strong></th>
                <th><strong>Apellidos</strong></th>
                <th><strong>Sector</strong></th>
                <th><strong>Cargo</strong></th>
                <th><strong>Base</strong></th>
            </tfoot>
          </table>
        </div>
        <div class="modal-footer">
          <div class="primary-button">
            <a id="botonCerrarTripulantes" data-dismiss="modal">Cerrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--<script>
  $(document).ready(function() {
    var table = $('#tablaAvion').DataTable({
      /*columnDefs: [
            {
                "targets": [ 0],
                "visible": false,
                "searchable": false
            },
            {
                "targets": [ 2 ],
                "visible": false
            }
        ],*/
      searching: true,
    });
    /*$(".valorCompania").click(function() {
      //var divs = document.getElementById("valorCompania").innerHTML;
      //var dataCompania=aerolinea;
      //alert(divs);
      //table.search(dataCompania).draw();
      var href = $(".valorCompania").attr('href');
      alert(href);
      table.search(href).draw();
    })*/
    /*$('#nombreCompania').on('change', function() {
      var nombre = $("#nombreCompania option:selected").text();
      table.search(nombre).draw();
    });
    $('#boton').click(function() {
      $('#nombreCompania').val('Selecciona la aerolinea');
    });
    $('#formCompanias').on('submit', function(e) {
      e.preventDefault();
    });*/
  });
</script-->

  