<!-- Modal tabla de vuelos -->
<div class="modal fade" id="modalSectores" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Sectores</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table id="tablaSectores" class="table table-striped ui celled" style="width:100%;">
          <thead>
            <h4>Sectores del Aeropuerto y su ubicación</h4>
            <tr>
              <th>Nombre</th>
              <th>Ubicación</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Check-in 1 al 16</td>
              <td>Terminal A - 1 piso</td>
            </tr>
            <tr>
              <td>Check-in 17 al 20</td>
              <td>Terminal B - 1 piso</td>
            </tr>
            <tr>
              <td>Información</td>
              <td>Terminal A - 2 piso</td>
            </tr>
            <tr>
              <td>Policia Aeroportuaria</td>
              <td>Terminal A - 1 piso</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th><strong>Nombre</strong></th>
              <th><strong>Ubicacion</strong></th>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="modal-footer">
        <div class="primary-button" data-dismiss="modal">
          <a href="#contact-us">Cerrar</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    var table = $('#tablaSectores').DataTable({
      searching: false,
    });
  });
</script>
