<table id="example" class="table table-striped ui celled table-responsive" style="width:100%">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Nombre</th>
      <th>Fecha</th>
      <th>Resumen</th>
      <th>Noticia</th>
      <th>accion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Vuelos y colectivos de larga distancia: cómo son los protocolos en Córdoba</td>
      <td>Aeropuerto Cordoba</td>
      <td>13/11/2020</td>
      <td>Solo podrán viajar trabajadores esenciales o que requieran asistencia médica y deben contar con el certificado de circulación.</td>
      <td class="xxx">El Gobierno de Córdoba adhirió a la medida nacional y autorizó el regreso de vuelos y micros de larga distancia, que se encontraban prohíbidos desde marzo cuando el presidente Alberto Fernández decretó el aislamiento social,
        preventivo y obligatorio por la pandemia del coronavirus. Una semana después del anuncio, dieron a conocer cómo serán los protocolos de bioseguridad a aplicar en cada viaje y quiénes están habilitados a usar del servicio de transporte, ya sea
        aéreo o terrestre. Desde el Centro de Operaciones de Emergencias, reiteraron que no exigirán testeos ni cuarentena.</td>
      <td class="accion">
        <div class="primary-button">
          <a href="#novedades">Ver</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>El Aeropuerto Córdoba como nunca lo viste: vacío y sin pasajeros</td>
      <td>Aeropuerto Cordoba</td>
      <td>16/11/2020</td>
      <td>Mientras Aerolíneas Argentinas analiza mudar parte de su centro de operaciones al centro del país, en "Pajas Blancas" preparan protocolos para cuando termine la cuarentena.</td>
      <td class="xxx">La soledad de los espacios es una sensación que aprendimos con la cuarentena. Con la excusa de los 100 días desde que se anunció por primera vez el aislamiento social, preventivo y obligatorio, con un equipo de Arriba Córdoba
        comenzamos a recorrer lugares que hace casi cuatro meses estaban llenos de gente y hoy los habita el silencio debido al coronavirus.

        El Aeropuerto de Córdoba merecía un capítulo aparte.

        Cuando se repasan los números de pasajeros, vuelos y conexiones se entiende por qué para la empresa AA2000 Córdoba es el segundo mercado a nivel nacional.

        Durante el 2019 hubo un récord de pasajeros: casi 3.5 millones de personas pasaron por el Aeropuerto de Córdoba. Y aunque durante los dos primeros meses del 2020 hubo una baja en los registros, los números seguían siendo importantes para un
        punto del país que conecta el norte y el sur con vuelos domésticos sin necesidad de pasar por Buenos Aires.</td>
      <td class="accion">
        <div class="primary-button">
          <a href="#novedades">Ver</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>Activan un permiso especial para buscar a familiares en aeropuertos</td>
      <td>Aeropuerto Cordoba</td>
      <td>16/11/2020</td>
      <td>Los conductores deben presentar una declaración jurada ante los controles policiales.</td>
      <td>Se sabe que son alrededor de 30 mil los argentinos que aún no pudieron regresar del exterior a raíz del aplazamiento y la cancelación de vuelos por la pandemia del coronavirus. Punta Cana, Bogotá y Lima son solo algunos de los puntos con
        argentinos varados.

        Para quienes sí pueden volver, ahora permiten que sus familiares los puedan buscar al aterrizar. El Ministerio de Transporte de la Nación habilitó este sábado una declaración jurada para ir a retirar familiares a los aeropuertos
        internacionales (incluido el Aeropuerto Ambrosio Taravella de Córdoba).Es una más de las excepciones al aislamiento social, preventivo y obligatorio dispuesto por el Gobierno nacional. Ante un control policial, se deberá presentar el
        documento para poder continuar.

        "Los familiares de pasajeros que arriben en vuelos de repatriación podrán buscar a sus seres queridos en autos particulares acreditando los datos de vuelo de los mismos, como por ejemplo la reserva, número de vuelo, nombre y apellido del
        familiar, y presentando la dirección del domicilio donde prestará la cuarentena obligatoria", dispuso el Ministerio de Transporte nacional.</td>
      <td class="accion">
        <div class="primary-button">
          <a href="#novedades">Ver</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>No pasaron el narcotest</td>
      <td>Aeropuerto Cordoba</td>
      <td>16/11/2020</td>
      <td>Dos personas quedaron demorados ayer en el aeropuerto Córdoba, sospechados de intentar viajar a Punta del Este con ropa impregnada con cocaína.</td>
      <td>Hubo un operativo policíal en un importante barrio privado de Córdoba donde se detuvo a dos personas. El caso estaría relacionado a la detección de drogas en el aeropuerto. Los demorados son personas relacionadas a la gastronomia.</td>
      <td class="accion">
        <div class="primary-button">
          <a href="#novedades">Ver</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>Una protesta en Aeroparque afecta a vuelos en el Aeropuerto Córdoba</td>
      <td>Aeropuerto Cordoba</td>
      <td>16/11/2020</td>
      <td>Las asambleas provocaron demoras y cancelaciones en vuelos hacia y desde Buenos Aires.</td>
      <td>Numerosos vuelos se vieron afectados en las primeras horas de este viernes, por una asamblea sorpresiva llevada a cabo en Aeroparque por la Asociación Argentina de Aeronavegantes. En Buenos Aires hubo al menos 26 viajes cancelados.

        La medida también se sintió en Córdoba: en cuanto a las partidas desde el Aeropuerto Ambrosio Taravella -según la página de Aeropuertos Argentina 2000-, hubo un vuelo hacia Buenos Aires cancelado (AR 1511) y otros tres demorados. En cuanto a
        los arribos, hubo una cancelación (AR 1510) y tres demoras.En un comunicado, Aerolíneas Argentinas aseguró que las asambleas "provocaron un paro total de la operación de la compañía, como ha sucedido en el día también con otras líneas
        aéreas". Además, afirmaron que el reclamo "no fue acompañado de un planteo formal a la compañía".

        Las asambleas estaban previstas hasta las 10. Los empleados denuncian achicamientos y están en plena negociación con la empresa para acordar los próximos aumentos. Según Aerolíneas, todo su personal está "al día" con los incrementos, que en
        algunos casos llegan hasta el 40 por ciento.</td>
      <td class="accion">
        <div class="primary-button">
          <a href="#novedades">Ver</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="primary-button">
  <a href="#services">Volver al Menu</a>
</div>

<script>
  var tablitaLoca = $('#example').DataTable({
    //"type": "column",
    //responsive: true,
    paging:false,
    searching: false,
    columnDefs: [{
        responsivePriority: 1,
        targets: 0
      },

      {
        "targets": [4],
        "visible": false,
        "searchable": false
      }
    ],
  });
  $('#example tbody').on('click', 'td.accion', function() {
    var noticia = tablitaLoca.row(this).data();
    //alert(noticia[0]);
    $('h1.titulo').text(noticia[0]);
    $('div.fecha').text(noticia[2]);
    $('p.noticia').text(noticia[4]);
    document.getElementById("modalNoti").click();

  });
</script>

<a hidden id="modalNoti" data-toggle="modal" data-target="#modalNoticia">Buscar Compañia</a>
<!-- Modal tabla de vuelos -->
<div class="modal fade" id="modalNoticia" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false" style="position: abolute;z-index:3 !important;background-color: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle"><img src="img/3127369-travel/png/003-diary.png" width="30" height="30" alt=""> Noticia</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1 class="titulo"></h1>
        <em>
          <div class="fecha"></div>
        </em><br>
        <p class="noticia"></p>
      </div>
      <div class="modal-footer">
        <div id="boton" class="primary-button" data-dismiss="modal">
          <!--a href="#companias">Cerrar</a-->
          <a id="botonCerrarNoticia" href="#novedades" data-dismiss="modal">Cerrar</a>
        </div>
      </div>
    </div>
  </div>
</div>
