<script>
  $(document).ready(function() {
    $.noConflict();
    var table = $('#tablaArribosPartidas').DataTable({
      searching: false,
      //"order": [[ 3, 'asc' ],
      "pageLength": 6,
      "language": {
        "lengthMenu": "Mostrando _MENU_ vuelos",
        "zeroRecords": "No hay vuelos con esos criterios",
        "info": "Mostrando pagina _PAGE_ de _PAGES_",
        "infoEmpty": "No hay vuelos con esos criterios",
        "infoFiltered": "(filtered from _MAX_ total records)"
      }
    });
    /*$('#tablaArribosPartidas tbody').on('click', 'tr', function() {
      alert(table.row(this).data());
    });
    $('#tablaArribosPartidas tbody').on('click', 'td', function() {
      alert(table.cell(this).data());
    });*/
    $('#tablaArribosPartidas tbody').on('click', 'td.vuelTrip', function() {
      var doc = table.cell(this).data();
      document.getElementById('botonVuelosTrip').click();
      $('#tablaResultadosTripulacionVuelos').DataTable({}).search(doc).draw();
   
    });

    $("#botonCerrarTripulantesVuelo").click(function() {
      $("#tablaResultadosTripulacionVuelos").dataTable().fnDestroy();
    });

    


  });
  
</script>

<table id="tablaArribosPartidas" class="display table table-striped table-responsive" style="width:100%;">
  <thead>
    <h4>EMPLEADOS</h4>
    <tr>
      <th>D.N.I.</th>
      <th>Nombres</th>
      <th>Apellido</th>
      <th>Sector</th>
      <th>Cargo</th>
      <th>Base</th>
      <th>vuelos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>26719311</td>
      <td>Lionel</td>
      <td>Scaloneta</td>
      <td>Aeropuerto</td>
      <td>Piloto</td>
      <td>Comodoro Rivadavia</td>
      <td style="background-color:#00aae4;color:#fff;"class="vuelTrip">Ver vuelos del tripulante</td>
    </tr>
    <tr>
      <td>28369159</td>
      <td>Pablo</td>
      <td>Aimor</td>
      <td>Aeropuerto</td>
      <td>Copiloto</td>
      <td>Cordoba</td>
      <td style="background-color:#00aae4;color:#fff;"class="vuelTrip">Ver vuelos del tripulante</td>

    </tr>
    <tr>
      <td>24856397</td>
      <td>Roberto</td>
      <td>Ayali</td>
      <td>Aeropuerto</td>
      <td>Comisario de bordo</td>
      <td>Buenos Aires</td>
      <td style="background-color:#00aae4;color:#fff;"class="vuelTrip">Ver vuelos del tripulante</td>

    </tr>
    <tr>
      <td>36987156</td>
      <td>Luis</td>
      <td>Samuel</td>
      <td>Aeropuerto</td>
      <td>Auxiliar de bordo</td>
      <td>Mendoza</td>
      <td style="background-color:#00aae4;color:#fff;"class="vuelTrip">Ver vuelos del tripulante</td>

    </tr>
    <tr>
      <td>38950456</td>
      <td>Walter</td>
      <td>Manna</td>
      <td>Aeropuerto</td>
      <td>Auxiliar de bordo</td>
      <td>Cordoba</td>
      <td style="background-color:#00aae4;color:#fff;"class="vuelTrip">Ver vuelos del tripulante</td>
    </tr>
    <tr>
      <td>39150789</td>
      <td>Camila</td>
      <td>Barrios</td>
      <td>Aeropuerto</td>
      <td>Auxiliar de bordo</td>
      <td>Cordoba</td>
      <td style="background-color:#00aae4;color:#fff;"class="vuelTrip">Ver vuelos del tripulante</td>
    </tr>
    <tr>
    <td>26789236</td>
    <td>Jose</td>
    <td>Gonzalez</td>
    <td>Administración</td>
    <td>Gerente</td>
    <td>--</td>
    <td >--</td>
    
  </tr>
    </tr>
    <td>23896547</td>
    <td>Juan</td>
    <td>Gomez</td>
    <td>Administración</td>
    <td>Administrativo</td>
    <td>--</td>
    <td >--</td>

  </tr>
  </tbody>
  <tfoot>
    <tr>
      <tr>
        <th>D.N.I.</th>
        <th>Nombres</th>
        <th>Apellido</th>
        <th>Sector</th>
        <th>Cargo</th>
        <th>Base</th>
        <th>vuelos</th>
      </tr>
    </tr>
  </tfoot>
</table>
<div class="primary-button">
  <a href="#services">Volver al Menu</a>
</div>
